@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model RecipeBox.Models.Ingredient

<h1>Add ingredients to this recipe</h1>
<hr/>
  @foreach(Ingredient ingredient in ViewBag.Ingredients)
  {
    <li>@Model.IngredientName</li>
    @using(Html.BeginForm("AddIngredient"))
    {
      @Html.Hidden("IngredientId")
      <input type="submit" value="Add ingredient" />
    }
  }


